//
   Created by dell on 2017/11/26.

doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
        script(src='../javascripts/jquery-3.2.1.min.js')
        script(src='../javascripts/popper.js')
        script(src='../javascripts/bootstrap.min.js')
        link(rel='stylesheet', href='../stylesheets/bootstrap.min.css')
        link(rel='stylesheet', href='../stylesheets/style.css')
        link(rel='stylesheet', type='text/css', href='../DataTables/datatables.min.css')
        script(type='text/javascript', src='../DataTables/datatables.min.js')
        script(type='text/javascript', src='../javascripts/eventHandlersDashboard.js')
        title GeeksUnknown Dashboard
    body
        .container-fluid
            nav.navbar.navbar-expand-sm.navbar-dark.fixed-top
                a.navbar-brand(href='#') GeeksUnknown
                button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarsExample03', aria-controls='navbarsExample03', aria-expanded='false', aria-label='Toggle navigation')
                    span.navbar-toggler-icon
                #navbarsExample03.collapse.navbar-collapse
                    ul.navbar-nav.mr-auto
                    ul.navbar-nav
                        li.nav-item
                            a.nav-link(href='/db/logout') Log out
        #addSectionModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='addSectionModalLabel', aria-hidden='true')
            .modal-dialog(role='document')
                .modal-content
                    .modal-header
                        h5#addSectionModalLabel.modal-title Add a section
                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                            span(aria-hidden='true') ×
                    .modal-body
                        input.form-control.sectionName(placeholder='Enter a section name')
                    .modal-footer
                        button.btn.btn-secondary(type='button', data-dismiss='modal') Close
                        button.btn.btn-info.submitAddSection(type='button') Submit
        .delete_section_container
            input#common_confirm_btn.btn.btn-primary(type='hidden', data-toggle='modal', data-target='#common_confirm_model')
            #common_confirm_model.modal
                .modal-dialog
                    .modal-content
                        .modal-header
                            h5.modal-title
                                span.title
                            button.close(type='button', data-dismiss='modal')
                                span(aria-hidden='true') ×
                                span.sr-only Close
                        .modal-body
                            p
                                span.message
                        .modal-footer
                            button.btn.btn-primary.continue(type='button', data-dismiss='modal') Continue
                            button.btn.btn-default.cancel(type='button', data-dismiss='modal') Cancel

        .container-fluid
            .row
                nav.col-sm-3.col-md-2.d-none.d-sm-block.sidebar.bg-light
                    ul.nav.nav-pills.flex-column
                        li.nav-item
                            a.nav-link.active(href='/db') Sections
                        li.nav-item
                            a.nav-link(href='/db/user') Users
                        li.nav-item
                            a.nav-link(href='#') About
                .col-sm-9.ml-sm-auto.col-md-10.pt-3(role='main', style='background-color: white;')
                    .section_tools
                        button.btn-info.btn.addSection Add a section
                        button.btn-info.btn.deleteSection Delete selected rows
                    .table-responsive.section_list
                        table#example.table.table-striped.table-bordered(cellspacing='0', width='100%')
                            thead
                                tr
                                    th #
                                    th Name
                                    th Topic Numbers
                            tbody
                                if sectionList != null
                                    each section, i in sectionList
                                        tr
                                            td #{section.id}
                                            td #{section.name}
                                            td #{section.count}