body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


.navbar {
  margin-bottom: 20px;
  background-color: #6c757d;
}

.topic_list {
  margin-top: 50px;
}
.topic_type {
  font-size: 10px;
}
.author_name {
  color:grey;
}
.topic_title {
  color:black;
}
.topic_full_title {
  margin: 0 auto;
}
.header {
  margin-top: 20px;
}
.author_full_info {
  font-size: 90%;
  margin: 0 auto;
  color: grey;
}
.topic_content {
  margin: 20px;
  font-size: 110%;
}
.new_topic_content {
  margin-top: 15px;
}
.new_topic_title {
  margin-top: 15px;
}
.new_topic_submit {
  margin-top: 10px;
}