body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #eee;
}

a {
  color: #00B7FF;
}

.form_login {
  max-width: 330px;
  position: relative;
  margin: 0 auto;
}
.navbar {
  margin-bottom: 20px;
  background-color: #6c757d;
}

.topic_list {
  margin-top: 30px;
}
.topic_type {
  font-size: 10px;
}
.author_name {
  color:grey;
}
.topic_title {
  color:black;
}
.topic_full_title {
  margin: 0 auto;
}
.header {
  margin-top: 20px;
}
.author_full_info {
  font-size: 90%;
  margin: 0 auto;
  color: grey;
}
.topic_content {
  margin: 20px;
  font-size: 110%;
}
.new_topic_content {
  margin-top: 15px;
}
.new_topic_title {
  margin-top: 15px;
}
.new_topic_submit {
  margin-top: 10px;
}
.new_topic_page {
  margin-top: 15px;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 51px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 20px 0;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  border-right: 1px solid #eee;
}

.sidebar .nav {
  margin-bottom: 20px;
}

.sidebar .nav-item {
  width: 100%;
}

.sidebar .nav-item + .nav-item {
  margin-left: 0;
}

.sidebar .nav-link {
  border-radius: 0;
}

h1.title {
  padding-bottom: 9px;
  margin-bottom: 20px;
  border-bottom: 1px solid #eee;
}